{
  "presets": ["es2015", "stage-0", "react"],
  "env": {
    "development": {
      "plugins": [["react-transform", {
        "transforms": [{
          "transform": "react-transform-hmr",
          "imports": ["react"],
          "locals": ["module"]
        }]
      }],
        "react-html-attrs",
        "transform-decorators-legacy",
        "transform-class-properties"
      ]
    },
    "production": {
        "plugins": ["react-html-attrs", "transform-decorators-legacy", "transform-class-properties"]
    }
  }
}
